body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-inputs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-block {
  display: flex;
  flex-direction: column;
}

input {
  width: 20px;
  text-align: center;
}

.container-helptable {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  margin-top: 10px;
}

td {
  border-bottom: 1px solid lightgray;
  width: 22px;
  text-align: center;
  height: 24px;
}

.container-result {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  font-weight: 600;
}
